@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import "tailwindcss";

:root {
  --bg: #EBE2D8;
  --text: #451a03;
}

/* maybe dark mode idk */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --bg: #EBE2D8;
    --text: #563d22;
  }
} */

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Pixelify Sans", Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden; 
}

h3 {
  font-family: "Jersey 10", Arial, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
