@import "tailwindcss";

:root {
  --bg: #EBE2D8;
  --text: #451a03;
}

/* maybe dark mode idk */
/* @media (prefers-color-scheme: dark) { 
  :root {
    --bg: #EBE2D8;
    --text: #563d22;
  }
} */

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
