@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "tailwindcss";

:root {
  --bg: #ebe2d8;
  --cardbg: #efd1af;
  --cardbg2: rgba(255, 255, 255, 0.6);
  --text: #451a03;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Pixelify Sans", Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: "Jersey 10", Arial, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
}
